In [76]:
# Dependencies and Setup
import os
import pandas as pd
import requests
import json
import time
import petpy
from datetime import date
from urllib.parse import urljoin
from petpy.exceptions import PetfinderInvalidCredentials, PetfinderInsufficientAccess, PetfinderResourceNotFound, \
    PetfinderUnexpectedError, PetfinderInvalidParameters
from petpy import Petfinder



# Import API key and secret
from hidden_keys2 import api_key
from hidden_keys2 import api_secret

In [77]:

pf = Petfinder(key=api_key, secret=api_secret)

In [79]:
#Petfinder.animals([animal_id=None][, animal_type='dog'][, breed=None][, size=None][, gender=None][, age=None][, color=None][, coat=None][, status=None][, name=None][, organization_id=None][, location='10001'][, distance=None][, sort=None][, results_per_page=None][, pages='100'][, return_df=True])

df_dogs = pf.animals(location = '07090', distance = '20', animal_type= 'dog', results_per_page=50, pages=20, return_df=True)

df_dogs

pages parameter exceeded maximum number of available pages available from the Petfinder API. As a result, the maximum number of pages 16 was returned

,id,organization_id,url,type,species,age,gender,size,coat,tags,...,contact.address.address1,contact.address.address2,contact.address.city,contact.address.state,contact.address.postcode,contact.address.country,animal_id,animal_type,organization_id,primary_photo_cropped
0,52745517,NJ883,https://www.petfinder.com/dog/braxton-brax-527...,Dog,Dog,Baby,Male,Large,Short,"[Friendly, Affectionate, Playful, Funny, Loves...",...,PO Box 3191,None,West Caldwell,NJ,07007,US,52745517,dog,nj883,NaN
1,52745450,NJ70,https://www.petfinder.com/dog/chico-52745450/n...,Dog,Dog,Baby,Male,Medium,Short,"[Friendly, Affectionate, Loyal, Playful, Smart...",...,P.O Box 335,None,Cranford,NJ,07016,US,52745450,dog,nj70,NaN
2,52745404,NJ04,https://www.petfinder.com/dog/kali-52745404/nj...,Dog,Dog,Adult,Female,Large,None,[],...,575 Woodland Ave,None,Madison,NJ,07940,US,52745404,dog,nj04,NaN
3,52745326,NJ362,https://www.petfinder.com/dog/roddy-52745326/n...,Dog,Dog,Adult,Male,Large,Short,"[Friendly, Affectionate, Loyal, Smart, Curious...",...,PO Box 684,None,Middlesex,NJ,08846,US,52745326,dog,nj362,NaN
4,52745185,NJ362,https://www.petfinder.com/dog/chanee-52745185/...,Dog,Dog,Young,Female,Large,Short,"[Friendly, Gentle, Smart]",...,PO Box 684,None,Middlesex,NJ,08846,US,52745185,dog,nj362,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,39689175,NY939,https://www.petfinder.com/dog/effie-39689175/n...,Dog,Dog,Adult,Female,Small,Short,[],...,None,None,Staten Island,NY,10302,US,39689175,dog,ny939,NaN
746,39231122,NJ26,https://www.petfinder.com/dog/fiona-39231122/n...,Dog,Dog,Young,Female,Medium,Short,[],...,PO Box 3701,None,Wayne,NJ,07470,US,39231122,dog,nj26,NaN
747,37915479,NY1072,https://www.petfinder.com/dog/phife-dawg-37915...,Dog,Dog,Senior,Male,Medium,None,[],...,None,None,Brooklyn,NY,11215,US,37915479,dog,ny1072,NaN
748,37231567,NJ59,https://www.petfinder.com/dog/mixed-breed-dogs...,Dog,Dog,Adult,Female,Medium,None,[],...,311 Watchung Avenue,P.O.Box 232 (mailing address),West Orange,NJ,07052,US,37231567,dog,nj59,NaN
749,37231552,NJ59,https://www.petfinder.com/dog/mixed-breed-dogs...,Dog,Dog,Adult,Male,Medium,None,[],...,311 Watchung Avenue,P.O.Box 232 (mailing address),West Orange,NJ,07052,US,37231552,dog,nj59,NaN

In [80]:
#List of 

print(list(df_dogs.columns.values))

['id', 'organization_id', 'url', 'type', 'species', 'age', 'gender', 'size', 'coat', 'tags', 'name', 'description', 'organization_animal_id', 'photos', 'videos', 'status', 'status_changed_at', 'published_at', 'distance', 'breeds.primary', 'breeds.secondary', 'breeds.mixed', 'breeds.unknown', 'colors.primary', 'colors.secondary', 'colors.tertiary', 'attributes.spayed_neutered', 'attributes.house_trained', 'attributes.declawed', 'attributes.special_needs', 'attributes.shots_current', 'environment.children', 'environment.dogs', 'environment.cats', 'primary_photo_cropped.small', 'primary_photo_cropped.medium', 'primary_photo_cropped.large', 'primary_photo_cropped.full', 'contact.email', 'contact.phone', 'contact.address.address1', 'contact.address.address2', 'contact.address.city', 'contact.address.state', 'contact.address.postcode', 'contact.address.country', 'animal_id', 'animal_type', 'organization_id', 'primary_photo_cropped']

In [85]:
dog_breeds_df = pf.breeds('dog', return_df = True)
dog_breeds_df

                                  name breed
0                        Affenpinscher   Dog
1                         Afghan Hound   Dog
2                     Airedale Terrier   Dog
3                               Akbash   Dog
4                                Akita   Dog
..                                 ...   ...
270        Wirehaired Pointing Griffon   Dog
271                 Wirehaired Terrier   Dog
272  Xoloitzcuintli / Mexican Hairless   Dog
273          Yellow Labrador Retriever   Dog
274                  Yorkshire Terrier   Dog

[275 rows x 2 columns]

In [99]:
#Output pandas dataframe into CSV file and store it in 'clean' folder under Resources folder
output_path = os.path.join("Resources","original","df_breed_labels_api.csv")
print(output_path)
dog_breeds_df.to_csv(output_path)

Resources\original\df_breed_labels_api.csv

In [100]:
# Module for reading CSV files
import csv

csvpath = os.path.join('Resources', 'original', 'df_breed_labels_api.csv')

#define the lists
rows = []
fields = []
breed_IDs = []
# Method 2: Improved Reading using CSV module

with open(csvpath, newline= '') as csvfile:

    # CSV reader specifies delimiter and variable that holds contents
    csvreader = csv.reader(csvfile, delimiter=',')

    #print(csvreader)

    # Read the header row first (skip this step if there is no header)
    fields = next(csvreader)
    #print(f"Field Names: {fields}")

    #calculating # of rows and total revenue
    
    for row in csvreader:
        rows.append(row)

    
    i = 0 
    for i in range(len(rows)):
        # Take the difference between two months 
        breed_ID = i + 1
        # append the monthly profit/loss calculation to pl_change list
        breed_IDs.append(breed_ID)

print(breed_IDs)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275]

In [106]:
dog_breeds_df["breed_ID"] = breed_IDs
#Rename columns
dog_breeds_df= dog_breeds_df.rename(columns = {'name' : 'breed_name', 'breed': 'animal_type'})
#Reorder columns
dog_breeds_df = dog_breeds_df.reindex(columns= ['breed_ID', 'breed_name', 'animal_type'])

dog_breeds_df

     breed_ID                         breed_name animal_type
0           1                      Affenpinscher         Dog
1           2                       Afghan Hound         Dog
2           3                   Airedale Terrier         Dog
3           4                             Akbash         Dog
4           5                              Akita         Dog
..        ...                                ...         ...
270       271        Wirehaired Pointing Griffon         Dog
271       272                 Wirehaired Terrier         Dog
272       273  Xoloitzcuintli / Mexican Hairless         Dog
273       274          Yellow Labrador Retriever         Dog
274       275                  Yorkshire Terrier         Dog

[275 rows x 3 columns]

In [108]:
#Output pandas dataframe into CSV file and store it in 'clean' folder under Resources folder
output_path = os.path.join("Resources","clean","df_breed_labels_api_clean.csv")
print(output_path)
dog_breeds_df.to_csv(output_path)

Resources\clean\df_breed_labels_api_clean.csv