# Create a connection with the DB to extract data

In [17]:
import pandas as pd
import sqlalchemy
import pprint
import psycopg2

In [2]:
from sqlalchemy import create_engine

In [7]:
# connect to local database
from config import password
database_url = f'postgresql://postgres:{password}@localhost:5432/pets_db'
engine = create_engine(database_url)

In [8]:
# Establish Connection to the postgresql database
conn = engine.connect()

In [9]:
# Reading the "Breeds" table into pandas

breeds = pd.read_sql("SELECT * FROM \"breeds\"", conn)
breeds.head()

   breed_id breed_type        breed_name
0         1        dog     Affenpinscher
1         2        dog      Afghan Hound
2         3        dog  Airedale Terrier
3         4        dog            Akbash
4         5        dog             Akita

In [12]:
# Reading the "Pet Finder" table into pandas
pet_finder = pd.read_sql("SELECT * FROM \"pet_finder\"", conn)
pet_finder.head()

Empty DataFrame
Columns: [dog_id, dog_name, breed_id, breed_name, age, color, coat_type, adoption_status, kid_freindly, dog_freindly, house_trained, special_needs, distance, location]
Index: []

In [13]:
# Reading the "Weight" table into pandas

weight = pd.read_sql("SELECT * FROM \"weight\"", conn)
weight.head()

   breed_id        breed_name    breed_female    weight_male
0         1     Affenpinscher     7-10 pounds    7-10 pounds
1         2      Afghan Hound    50-60 pounds   50-60 pounds
2         3  Airedale Terrier    50-70 pounds   50-70 pounds
3         5             Akita  100-130 pounds  70-100 pounds
4         6  Alaskan Malamute       85 pounds      75 pounds

In [14]:
# Reading the "LifeSpan" table into pandas

lifespan = pd.read_sql("SELECT * FROM \"lifespan\"", conn)
lifespan.head()

   breed_id        breed_name avg_lifespan_years
0         1     Affenpinscher       12 to 14 yrs
1         2      Afghan Hound       12 to 14 yrs
2         3  Airedale Terrier       10 to 13 yrs
3         4            Akbash       10 to 11 yrs
4         5             Akita       10 to 13 yrs

In [15]:
# Reading the "Breed Characteristic" table into pandas

breed_characteristics = pd.read_sql("SELECT * FROM \"breed_characteristics\"", conn)
breed_characteristics.head()

Empty DataFrame
Columns: [breed_id, breed_name, size, kid_freindly, dog_freindly, low_shedding, easy_to_groom, good_health, low_barking, easy_to_train, tolerates_hot, totlerates_cold]
Index: []