In [1]:
import pandas as pd
from sqlalchemy import create_engine
import json
import os

In [2]:
filepath = os.path.join("Resources", "dogs.json")
with open(filepath) as jsonfile:
    video_json = json.load(jsonfile)

In [3]:
df = pd.DataFrame(video_json['breeds'])

In [4]:
df.rename(columns={'name':'breed_name',
                   'size':'breed.char.size',
                   'kidFriendly': 'breed.char.kid_friendly', 
                   'dogFriendly': 'breed.char.dog_friendy', 
                   'lowShedding': 'breed.char.low_shedding',
                   'easyToGroom': 'breed.char.easy_to_groom', 
                   'highEnergy': 'breed.char.high_energy', 
                   'goodHealth': 'breed.char.good_health', 
                   'lowBarking': 'breed.char.low_barking',
                   'intelligence': 'breed.char.intelligence',
                   'easyToTrain': 'breed.char.easy_to_train', 
                   'toleratesHot': 'breed.char.tolerates_hot',
                   'toleratesCold': 'breed.char.tolerates_cold'}, inplace=True)
characteristics_df = df.drop(["id"],axis = 1)
pd.set_option('precision', 0)
characteristics_df

,breed_name,breed.char.size,breed.char.kid_friendly,breed.char.dog_friendy,breed.char.low_shedding,breed.char.easy_to_groom,breed.char.high_energy,breed.char.good_health,breed.char.low_barking,breed.char.intelligence,breed.char.easy_to_train,breed.char.tolerates_hot,breed.char.tolerates_cold
0,Affenpinscher,1,1,1,5,3,4,4,4,4,2,3,3
1,Afghan Hound,4,5,5,2,1,5,3,4,4,1,5,5
2,Airedale Terrier,3,4,4,4,2,5,3,2,5,4,3,3
3,Akita,4,1,1,1,1,4,4,1,3,2,2,5
4,Alaskan Malamute,4,3,3,1,1,5,4,1,4,4,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Whippet,3,5,5,4,5,5,4,5,4,4,4,1
195,Wirehaired Pointing Griffon,3,5,5,5,3,5,4,2,5,5,3,4
196,Xoloitzcuintli,3,3,3,1,5,3,5,1,5,3,3,3
197,Yorkipoo,1,4,4,5,4,5,3,1,4,4,3,2
198,Yorkshire Terrier,1,2,2,4,1,5,4,3,3,3,2,2

In [5]:
breed_char = os.path.join("Resources","df_breed_labels_api_clean.csv")
dogs_df = pd.read_csv(breed_char)
dog_id = pd.DataFrame(dogs_df[['breed_ID','breed_name']])
dog_id

     breed_ID                         breed_name
0           1                      Affenpinscher
1           2                       Afghan Hound
2           3                   Airedale Terrier
3           4                             Akbash
4           5                              Akita
..        ...                                ...
270       271        Wirehaired Pointing Griffon
271       272                 Wirehaired Terrier
272       273  Xoloitzcuintli / Mexican Hairless
273       274          Yellow Labrador Retriever
274       275                  Yorkshire Terrier

[275 rows x 2 columns]

In [6]:
dog_id["breed_name"].replace({"Xoloitzcuintli / Mexican Hairless": "Xoloitzcuintli", 
                              'English Coonhound':'American English Coonhound',
                              'Pit Bull Terrier':'American Pit Bull Terrier', 
                              'English Bulldog':'Bulldog', 
                              'Appenzell Mountain Dog':'Appenzeller Sennenhunde', 
                              'Anatolian Shepherd':'Anatolian Shepherd Dog',
                              'Australian Cattle Dog / Blue Heeler':'Australian Cattle Dog',
                              'Sloughi':'Azawakh',
                              'Belgian Shepherd / Malinois':'Belgian Malinois',
                              'Belgian Shepherd / Sheepdog':'Belgian Sheepdog', 
                              'Belgian Shepherd / Tervuren':'Belgian Tervuren',
                              'Brittany Spaniel':'Brittany',
                              'Chinese Crested Dog':'Chinese Crested',
                              'Shar-Pei':'Chinese Shar-Pei', 
                              'Entlebucher':'Entlebucher Mountain Dog', 
                              'Setter':'Irish Red and White Setter', 
                              'Jindo':'Korean Jindo Dog',
                              'Newfoundland Dog':'Newfoundland',
                              'Plott Hound':'Plott', 
                              'Shetland Sheepdog / Sheltie':'Shetland Sheepdog',
                              'Sloughi':'Sloughi',
                              'Wheaten Terrier':'Soft Coated Wheaten Terrier', 
                              'Tennessee Treeing Brindle':'Treeing Tennessee Brindle',
                              'West Highland White Terrier / Westie':'West Highland White Terrier'}, inplace=True)

In [7]:
characteristics_merged_df = pd.merge(characteristics_df, dog_id, on="breed_name", how="left")
characteristics_merged_df[characteristics_merged_df['breed_ID'].isna()]

,breed_name,breed.char.size,breed.char.kid_friendly,breed.char.dog_friendy,breed.char.low_shedding,breed.char.easy_to_groom,breed.char.high_energy,breed.char.good_health,breed.char.low_barking,breed.char.intelligence,breed.char.easy_to_train,breed.char.tolerates_hot,breed.char.tolerates_cold,breed_ID
15,Azawakh,3,2,2,3,5,3,3,5,3,3,5,1,NaN
16,Barbet,3,4,4,4,1,5,4,3,4,4,4,4,NaN
25,Berger Picard,4,5,5,2,5,5,5,4,4,4,3,4,NaN
40,Bracco Italiano,4,3,3,3,5,4,2,4,4,3,3,3,NaN
53,Cesky Terrier,2,3,3,5,4,2,5,3,3,4,3,3,NaN
89,Goldador,4,5,5,3,4,5,4,5,5,4,4,5,NaN
113,Kooikerhondje,3,2,2,3,2,4,5,3,4,1,3,4,NaN
123,Maltese Shih Tzu,1,3,3,5,2,3,2,2,3,4,2,2,NaN
129,Mutt,3,3,3,3,3,3,4,3,4,4,3,3,NaN
141,Peekapoo,1,4,4,4,2,3,3,2,4,3,2,3,NaN
147,Pocket Beagle,2,5,5,3,5,4,3,1,4,3,4,2,NaN
176,Small Munsterlander Pointer,3,5,5,3,3,4,5,3,5,5,3,5,NaN
178,Stabyhoun,3,5,5,3,3,3,5,3,5,5,2,2,NaN
197,Yorkipoo,1,4,4,5,4,5,3,1,4,4,3,2,NaN

In [8]:
characteristics_merged_df.dropna(subset = ["breed_ID"], inplace=True)
characteristics_merged_df.reset_index(drop=True, inplace=True)
characteristics_merged_df

,breed_name,breed.char.size,breed.char.kid_friendly,breed.char.dog_friendy,breed.char.low_shedding,breed.char.easy_to_groom,breed.char.high_energy,breed.char.good_health,breed.char.low_barking,breed.char.intelligence,breed.char.easy_to_train,breed.char.tolerates_hot,breed.char.tolerates_cold,breed_ID
0,Affenpinscher,1,1,1,5,3,4,4,4,4,2,3,3,1
1,Afghan Hound,4,5,5,2,1,5,3,4,4,1,5,5,2
2,Airedale Terrier,3,4,4,4,2,5,3,2,5,4,3,3,3
3,Akita,4,1,1,1,1,4,4,1,3,2,2,5,5
4,Alaskan Malamute,4,3,3,1,1,5,4,1,4,4,2,5,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,West Highland White Terrier,2,4,4,2,3,4,3,2,4,4,3,4,265
181,Whippet,3,5,5,4,5,5,4,5,4,4,4,1,267
182,Wirehaired Pointing Griffon,3,5,5,5,3,5,4,2,5,5,3,4,271
183,Xoloitzcuintli,3,3,3,1,5,3,5,1,5,3,3,3,273
184,Yorkshire Terrier,1,2,2,4,1,5,4,3,3,3,2,2,275

In [9]:
cols = list(characteristics_merged_df)
cols.insert(0, cols.pop(cols.index('breed_ID')))
characteristics_merged_df = characteristics_merged_df.loc[:, cols]
characteristics_merged_df.rename(columns={'breed_ID':'breed_id'}, inplace=True)
characteristics_merged_df

,breed_id,breed_name,breed.char.size,breed.char.kid_friendly,breed.char.dog_friendy,breed.char.low_shedding,breed.char.easy_to_groom,breed.char.high_energy,breed.char.good_health,breed.char.low_barking,breed.char.intelligence,breed.char.easy_to_train,breed.char.tolerates_hot,breed.char.tolerates_cold
0,1,Affenpinscher,1,1,1,5,3,4,4,4,4,2,3,3
1,2,Afghan Hound,4,5,5,2,1,5,3,4,4,1,5,5
2,3,Airedale Terrier,3,4,4,4,2,5,3,2,5,4,3,3
3,5,Akita,4,1,1,1,1,4,4,1,3,2,2,5
4,6,Alaskan Malamute,4,3,3,1,1,5,4,1,4,4,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,265,West Highland White Terrier,2,4,4,2,3,4,3,2,4,4,3,4
181,267,Whippet,3,5,5,4,5,5,4,5,4,4,4,1
182,271,Wirehaired Pointing Griffon,3,5,5,5,3,5,4,2,5,5,3,4
183,273,Xoloitzcuintli,3,3,3,1,5,3,5,1,5,3,3,3
184,275,Yorkshire Terrier,1,2,2,4,1,5,4,3,3,3,2,2

In [10]:
output_path = os.path.join("Resources","clean_data","Breed_Characteristics.csv")
print(output_path)
characteristics_merged_df.to_csv(output_path)

Resources/clean_data/Breed_Characteristics.csv