In [15]:
import pandas as pd
from sqlalchemy import create_engine
import json
import os

In [16]:
filepath = os.path.join("Resources", "dogs.json")
with open(filepath) as jsonfile:
    video_json = json.load(jsonfile)

In [17]:
df = pd.DataFrame(video_json['breeds'])

In [22]:
df
df.rename(columns={'name':'breed_name', 
                   'kidFriendly': 'kid_friendly', 
                   'dogFriendly': 'dog_friendy', 
                   'lowShedding': 'low_shedding',
                   'easyToGroom': 'easy_to_groom', 
                   'highEnergy': 'high_energy', 
                   'goodHealth': 'good_health', 
                   'lowBarking': 'low_barking', 
                   'easyToTrain': 'easy_to_train', 
                   'toleratesHot': 'tolerates_hot',
                   'toleratesCold': 'tolerates_cold'}, inplace=True)

pd.set_option('precision', 0)

In [23]:
df

,id,breed_name,size,kid_friendly,dog_friendy,low_shedding,easy_to_groom,high_energy,good_health,low_barking,intelligence,easy_to_train,tolerates_hot,tolerates_cold
0,affenpinscher,Affenpinscher,1,1,1,5,3,4,4,4,4,2,3,3
1,afghan-hound,Afghan Hound,4,5,5,2,1,5,3,4,4,1,5,5
2,airedale-terrier,Airedale Terrier,3,4,4,4,2,5,3,2,5,4,3,3
3,akita,Akita,4,1,1,1,1,4,4,1,3,2,2,5
4,alaskan-malamute,Alaskan Malamute,4,3,3,1,1,5,4,1,4,4,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,whippet,Whippet,3,5,5,4,5,5,4,5,4,4,4,1
195,wirehaired-pointing-griffon,Wirehaired Pointing Griffon,3,5,5,5,3,5,4,2,5,5,3,4
196,xoloitzuintli,Xoloitzcuintli,3,3,3,1,5,3,5,1,5,3,3,3
197,yorkipoo,Yorkipoo,1,4,4,5,4,5,3,1,4,4,3,2
198,yorkshire-terrier,Yorkshire Terrier,1,2,2,4,1,5,4,3,3,3,2,2

<bound method Index.format of Index(['id', 'breed_name', 'size', 'kid_friendly', 'dog_friendy',
       'low_shedding', 'easy_to_groom', 'high_energy', 'good_health',
       'low_barking', 'intelligence', 'easy_to_train', 'tolerates_hot',
       'tolerates_cold'],
      dtype='object')>