In [126]:
import sqlalchemy 
import pandas as pd 
import numpy
from sqlalchemy import create_engine

In [128]:
sql_connection_string = "postgres:postgres@localhost:5432/TheWoofTeam"
engine = create_engine(f"postgresql://{sql_connection_string}")

In [130]:
engine.table_names()

['breeds', 'lifespan', 'weight', 'breed_characteristics', 'pet_finder']

In [132]:
dog_api_df = pd.read_csv("df_petfinder_dogslist_api_clean_v2.csv")
print(dog_api_df.head())

     dog_ID              dog_name  \
0  49463289                  Kane
1  50796241              Wrinkles
2  50796417                 Hogan
3  52516498  Gamo (Courtesy Post)
4  51738308                 Cindy

                                       url_petfinder dog_age dog_gender  \
0  https://www.petfinder.com/dog/kane-49463289/nj...   Adult       Male
1  https://www.petfinder.com/dog/wrinkles-5079624...   Adult     Female
2  https://www.petfinder.com/dog/hogan-50796417/n...  Senior       Male
3  https://www.petfinder.com/dog/gamo-courtesy-po...   Adult       Male
4  https://www.petfinder.com/dog/cindy-51738308/n...  Senior     Female

  dog_size dog_coat                                    dog_description  \
0    Large    Short  Kane was surrendered to a local animal control...
1    Large    Short  It’s so hard to believe this this absolute gem...
2    Large    Short  Hogan is an 11+ year old boy who was surrender...
3    Large    Short  Gamo has everything you could want in a 6 year...
4    Large    Short  A HOME WITH LITTLE TO NO STEPS IS REQUIRED!!!!...

               published_at  distance_miles_from_07090  ...  \
0  2021-03-09T04:29:51+0000                     1.0243  ...
1  2021-03-09T04:46:23+0000                     1.0243  ...
2  2021-03-09T04:58:20+0000                     1.0243  ...
3  2021-07-30T02:31:05+0000                     2.1022  ...
4  2021-05-31T14:04:37+0000                     2.1022  ...

   attributes.shots_current environment.children environment.dogs  \
0                      True                  NaN              NaN
1                      True                 True             True
2                      True                  NaN             True
3                      True                 True             True
4                      True                 True            False

   environment.cats                 contact.email  contact.phone  \
0               NaN    jerseypitsrescue@gmail.com            NaN
1             False    jerseypitsrescue@gmail.com            NaN
2               NaN    jerseypitsrescue@gmail.com            NaN
3               NaN  bestfrienddogadopt@gmail.com            NaN
4             False  bestfrienddogadopt@gmail.com            NaN

   contact.address.address1 contact.address.city contact.address.state  \
0                       NaN              Garwood                    NJ
1                       NaN              Garwood                    NJ
2                       NaN              Garwood                    NJ
3               P.O Box 335             Cranford                    NJ
4               P.O Box 335             Cranford                    NJ

  contact.address.postcode
0                     7027
1                     7027
2                     7027
3                     7016
4                     7016

[5 rows x 26 columns]

In [144]:
new_dog_api_df = dog_api_df.rename(columns=
                                   {"dog_ID":"dog_id",
                                    "dog_name":"dog_name", 
                                    "url_petfinder":"url_petfinder", 
                                    "dog_age":"dog_age", 
                                    "dog_gender":"dog_gender",
                                    "dog_size":"dog_size", 
                                    "dog_coat":"dog_coat", 
                                    "dog_description":"dog_decsription", 
                                    "published_at":"published_at",
                                    "distance_miles_from_07090":"distance_miles_from_07090", 
                                    "breed_ID":"breed_id", 
                                    "breed":"breed_name", 
                                    "colors.primary":"colors_primary", 
                                    "attributes.spayed_neutered":"attributes_spayed_neutered", 
                                    "attributes.house_trained":"attributes_house_trained", 
                                    "attributes.special_needs":"attributes_special_needs", 
                                    "attributes.shots_current":"attributes_shots_current", 
                                    "environment.children":"environment_children", 
                                    "environment.dogs":"environment_dogs", 
                                    "environment.cats":"environment_cats",
                                    "contact.email":"contact_email", 
                                    "contact.phone": "contact_phone",
                                    "contact.address.address1": "contact_address_address1", 
                                    "contact.address.city":"contact_address_city", 
                                    "contact.address.state":"contact_address_state", 
                                    "contact.address.postcode":"contact_address_postcode"})
print(new_dog_api_df.head())

     dog_id              dog_name  \
0  49463289                  Kane
1  50796241              Wrinkles
2  50796417                 Hogan
3  52516498  Gamo (Courtesy Post)
4  51738308                 Cindy

                                       url_petfinder dog_age dog_gender  \
0  https://www.petfinder.com/dog/kane-49463289/nj...   Adult       Male
1  https://www.petfinder.com/dog/wrinkles-5079624...   Adult     Female
2  https://www.petfinder.com/dog/hogan-50796417/n...  Senior       Male
3  https://www.petfinder.com/dog/gamo-courtesy-po...   Adult       Male
4  https://www.petfinder.com/dog/cindy-51738308/n...  Senior     Female

  dog_size dog_coat                                    dog_decsription  \
0    Large    Short  Kane was surrendered to a local animal control...
1    Large    Short  It’s so hard to believe this this absolute gem...
2    Large    Short  Hogan is an 11+ year old boy who was surrender...
3    Large    Short  Gamo has everything you could want in a 6 year...
4    Large    Short  A HOME WITH LITTLE TO NO STEPS IS REQUIRED!!!!...

               published_at  distance_miles_from_07090  ...  \
0  2021-03-09T04:29:51+0000                     1.0243  ...
1  2021-03-09T04:46:23+0000                     1.0243  ...
2  2021-03-09T04:58:20+0000                     1.0243  ...
3  2021-07-30T02:31:05+0000                     2.1022  ...
4  2021-05-31T14:04:37+0000                     2.1022  ...

   attributes_shots_current environment_children environment_dogs  \
0                      True                  NaN              NaN
1                      True                 True             True
2                      True                  NaN             True
3                      True                 True             True
4                      True                 True            False

   environment_cats                 contact_email  contact_phone  \
0               NaN    jerseypitsrescue@gmail.com            NaN
1             False    jerseypitsrescue@gmail.com            NaN
2               NaN    jerseypitsrescue@gmail.com            NaN
3               NaN  bestfrienddogadopt@gmail.com            NaN
4             False  bestfrienddogadopt@gmail.com            NaN

   contact_address_address1 contact_address_city contact_address_state  \
0                       NaN              Garwood                    NJ
1                       NaN              Garwood                    NJ
2                       NaN              Garwood                    NJ
3               P.O Box 335             Cranford                    NJ
4               P.O Box 335             Cranford                    NJ

  contact_address_postcode
0                     7027
1                     7027
2                     7027
3                     7016
4                     7016

[5 rows x 26 columns]

In [147]:
new_new_dog_api_df = new_dog_api_df.drop(['dog_id'], axis=1)
print(new_new_dog_api_df.head())

               dog_name                                      url_petfinder  \
0                  Kane  https://www.petfinder.com/dog/kane-49463289/nj...
1              Wrinkles  https://www.petfinder.com/dog/wrinkles-5079624...
2                 Hogan  https://www.petfinder.com/dog/hogan-50796417/n...
3  Gamo (Courtesy Post)  https://www.petfinder.com/dog/gamo-courtesy-po...
4                 Cindy  https://www.petfinder.com/dog/cindy-51738308/n...

  dog_age dog_gender dog_size dog_coat  \
0   Adult       Male    Large    Short
1   Adult     Female    Large    Short
2  Senior       Male    Large    Short
3   Adult       Male    Large    Short
4  Senior     Female    Large    Short

                                     dog_decsription  \
0  Kane was surrendered to a local animal control...
1  It’s so hard to believe this this absolute gem...
2  Hogan is an 11+ year old boy who was surrender...
3  Gamo has everything you could want in a 6 year...
4  A HOME WITH LITTLE TO NO STEPS IS REQUIRED!!!!...

               published_at  distance_miles_from_07090  breed_id  ...  \
0  2021-03-09T04:29:51+0000                     1.0243       170  ...
1  2021-03-09T04:46:23+0000                     1.0243       170  ...
2  2021-03-09T04:58:20+0000                     1.0243       170  ...
3  2021-07-30T02:31:05+0000                     2.1022       194  ...
4  2021-05-31T14:04:37+0000                     2.1022        90  ...

  attributes_shots_current environment_children  environment_dogs  \
0                     True                  NaN               NaN
1                     True                 True              True
2                     True                  NaN              True
3                     True                 True              True
4                     True                 True             False

   environment_cats                 contact_email  contact_phone  \
0               NaN    jerseypitsrescue@gmail.com            NaN
1             False    jerseypitsrescue@gmail.com            NaN
2               NaN    jerseypitsrescue@gmail.com            NaN
3               NaN  bestfrienddogadopt@gmail.com            NaN
4             False  bestfrienddogadopt@gmail.com            NaN

  contact_address_address1 contact_address_city contact_address_state  \
0                      NaN              Garwood                    NJ
1                      NaN              Garwood                    NJ
2                      NaN              Garwood                    NJ
3              P.O Box 335             Cranford                    NJ
4              P.O Box 335             Cranford                    NJ

  contact_address_postcode
0                     7027
1                     7027
2                     7027
3                     7016
4                     7016

[5 rows x 25 columns]

In [149]:
new_new_dog_api_df.to_sql(name="pet_finder", con=engine, if_exists='append',index = False)

In [179]:
characteristics_api_df = pd.read_csv("Breed_Characteristicsv3.csv")
print(characteristics_api_df.head())

   breed_id        breed_name  breed_char_size  breed_char_kid_friendly  \
0         1     Affenpinscher                1                        1
1         2      Afghan Hound                4                        5
2         3  Airedale Terrier                3                        4
3         5             Akita                4                        1
4         6  Alaskan Malamute                4                        3

   breed_char_dog_friendly  breed_char_low_shedding  breed_char_easy_to_groom  \
0                        1                        5                         3
1                        5                        2                         1
2                        4                        4                         2
3                        1                        1                         1
4                        3                        1                         1

   breed_char_high_energy  breed_char_good_health  breed_char_low_barking  \
0                       4                       4                     4.0
1                       5                       3                     4.0
2                       5                       3                     2.0
3                       4                       4                     1.0
4                       5                       4                     1.0

   breed_char_intelligence  breed_char_easy_to_train  \
0                        4                         2
1                        4                         1
2                        5                         4
3                        3                         2
4                        4                         4

   breed_char_tolerates_hot  breed_char_tolerates_cold
0                         3                          3
1                         5                          5
2                         3                          3
3                         2                          5
4                         2                          5

In [180]:
characteristics_api_df.to_sql(name="breed_characteristics", con=engine, if_exists='append',index = False)

In [152]:
pd.read_sql_query('select * from weight', con=engine).head()

   breed_id        breed_name     weight_male  weight_female
0         1     Affenpinscher     7-10 pounds    7-10 pounds
1         2      Afghan Hound    50-60 pounds   50-60 pounds
2         3  Airedale Terrier    50-70 pounds   50-70 pounds
3         5             Akita  100-130 pounds  70-100 pounds
4         6  Alaskan Malamute       85 pounds      75 pounds

In [153]:
pd.read_sql_query('select * from lifespan', con=engine).head()

   breed_id        breed_name avg_lifespan_years
0         1     Affenpinscher       12 to 14 yrs
1         2      Afghan Hound       12 to 14 yrs
2         3  Airedale Terrier       10 to 13 yrs
3         4            Akbash       10 to 11 yrs
4         5             Akita       10 to 13 yrs

In [154]:
pd.read_sql_query('select * from breeds', con=engine).head()

   id  breed_id        breed_name animal_type
0   0         1     Affenpinscher         Dog
1   1         2      Afghan Hound         Dog
2   2         3  Airedale Terrier         Dog
3   3         4            Akbash         Dog
4   4         5             Akita         Dog

In [181]:
pd.read_sql_query('select * from breed_characteristics', con=engine).head()

,breed_id,breed_name,breed_char_size,breed_char_kid_friendly,breed_char_dog_friendly,breed_char_low_shedding,breed_char_easy_to_groom,breed_char_high_energy,breed_char_good_health,breed_char_low_barking,breed_char_intelligence,breed_char_easy_to_train,breed_char_tolerates_hot,breed_char_tolerates_cold
0,1,Affenpinscher,1.0,1.0,1.0,5.0,3.0,4.0,4.0,4.0,4.0,2.0,3.0,3.0
1,2,Afghan Hound,4.0,5.0,5.0,2.0,1.0,5.0,3.0,4.0,4.0,1.0,5.0,5.0
2,3,Airedale Terrier,3.0,4.0,4.0,4.0,2.0,5.0,3.0,2.0,5.0,4.0,3.0,3.0
3,5,Akita,4.0,1.0,1.0,1.0,1.0,4.0,4.0,1.0,3.0,2.0,2.0,5.0
4,6,Alaskan Malamute,4.0,3.0,3.0,1.0,1.0,5.0,4.0,1.0,4.0,4.0,2.0,5.0

In [156]:
pd.read_sql_query('select * from pet_finder', con=engine).head()

,dog_name,url_petfinder,dog_age,dog_gender,dog_size,dog_coat,dog_decsription,published_at,distance_miles_from_07090,breed_id,...,attributes_shots_current,environment_children,environment_dogs,environment_cats,contact_email,contact_phone,contact_address_address1,contact_address_city,contact_address_state,contact_address_postcode
0,Kane,https://www.petfinder.com/dog/kane-49463289/nj...,Adult,Male,Large,Short,Kane was surrendered to a local animal control...,2021-03-09T04:29:51+0000,1.0243,170,...,true,None,None,None,jerseypitsrescue@gmail.com,None,None,Garwood,NJ,7027
1,Wrinkles,https://www.petfinder.com/dog/wrinkles-5079624...,Adult,Female,Large,Short,It’s so hard to believe this this absolute gem...,2021-03-09T04:46:23+0000,1.0243,170,...,true,true,true,false,jerseypitsrescue@gmail.com,None,None,Garwood,NJ,7027
2,Hogan,https://www.petfinder.com/dog/hogan-50796417/n...,Senior,Male,Large,Short,Hogan is an 11+ year old boy who was surrender...,2021-03-09T04:58:20+0000,1.0243,170,...,true,None,true,None,jerseypitsrescue@gmail.com,None,None,Garwood,NJ,7027
3,Gamo (Courtesy Post),https://www.petfinder.com/dog/gamo-courtesy-po...,Adult,Male,Large,Short,Gamo has everything you could want in a 6 year...,2021-07-30T02:31:05+0000,2.1022,194,...,true,true,true,None,bestfrienddogadopt@gmail.com,None,P.O Box 335,Cranford,NJ,7016
4,Cindy,https://www.petfinder.com/dog/cindy-51738308/n...,Senior,Female,Large,Short,A HOME WITH LITTLE TO NO STEPS IS REQUIRED!!!!...,2021-05-31T14:04:37+0000,2.1022,90,...,true,true,false,false,bestfrienddogadopt@gmail.com,None,P.O Box 335,Cranford,NJ,7016