In [5]:
import pandas as pd
from sqlalchemy import create_engine
import json
import os

In [6]:
filepath = os.path.join("Resources", "dogs.json")
with open(filepath) as jsonfile:
    video_json = json.load(jsonfile)

In [7]:
df = pd.DataFrame(video_json['breeds'])

In [8]:
df

,id,name,size,kidFriendly,dogFriendly,lowShedding,easyToGroom,highEnergy,goodHealth,lowBarking,intelligence,easyToTrain,toleratesHot,toleratesCold
0,affenpinscher,Affenpinscher,1,1,1,5,3,4,4,4.0,4,2,3,3
1,afghan-hound,Afghan Hound,4,5,5,2,1,5,3,4.0,4,1,5,5
2,airedale-terrier,Airedale Terrier,3,4,4,4,2,5,3,2.0,5,4,3,3
3,akita,Akita,4,1,1,1,1,4,4,1.0,3,2,2,5
4,alaskan-malamute,Alaskan Malamute,4,3,3,1,1,5,4,1.0,4,4,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,whippet,Whippet,3,5,5,4,5,5,4,5.0,4,4,4,1
195,wirehaired-pointing-griffon,Wirehaired Pointing Griffon,3,5,5,5,3,5,4,2.0,5,5,3,4
196,xoloitzuintli,Xoloitzcuintli,3,3,3,1,5,3,5,1.0,5,3,3,3
197,yorkipoo,Yorkipoo,1,4,4,5,4,5,3,1.0,4,4,3,2
198,yorkshire-terrier,Yorkshire Terrier,1,2,2,4,1,5,4,3.0,3,3,2,2