In [1]:
import pandas as pd
breed_weight = pd.read_csv("New_Breed_LifeSpan_Filtered.csv")
print(breed_weight.head)

<bound method NDFrame.head of      breed_ID                         breed_name avg_lifespan_years
0           1                      Affenpinscher       12 to 14 yrs
1           2                       Afghan Hound       12 to 14 yrs
2           3                   Airedale Terrier       10 to 13 yrs
3           4                             Akbash       10 to 11 yrs
4           5                              Akita       10 to 13 yrs
..        ...                                ...                ...
270       271        Wirehaired Pointing Griffon       10 to 12 yrs
271       272                 Wirehaired Terrier       13 to 14 yrs
272       273  Xoloitzcuintli / Mexican Hairless             13 yrs
273       274          Yellow Labrador Retriever       10 to 14 yrs
274       275                  Yorkshire Terrier       14 to 16 yrs

[275 rows x 3 columns]>

In [19]:
id=breed_weight["breed_ID"].tolist()
name=breed_weight["breed_name"].tolist()
res = []
type_=[]
sel=[]
for i in range(len(id)):
    if id[i] not in res:
        res.append(id[i])
        type_.append("dog")
        sel.append(name[i])
data_dict = {'breed_ID':res,"breed_type":type_,
             'breed_name': sel}
df = pd.DataFrame(data_dict)
df.head

<bound method NDFrame.head of      breed_ID breed_type                         breed_name
0           1        dog                      Affenpinscher
1           2        dog                       Afghan Hound
2           3        dog                   Airedale Terrier
3           4        dog                             Akbash
4           5        dog                              Akita
..        ...        ...                                ...
270       271        dog        Wirehaired Pointing Griffon
271       272        dog                 Wirehaired Terrier
272       273        dog  Xoloitzcuintli / Mexican Hairless
273       274        dog          Yellow Labrador Retriever
274       275        dog                  Yorkshire Terrier

[275 rows x 3 columns]>

In [21]:
breed_weight = pd.read_csv("df_breed_weight_clean.csv")
id=breed_weight["breed_ID"].tolist()
name=breed_weight["breed_name"].tolist()
for i in range(len(id)):
    if id[i] not in res:
        res.append(id[i])
        type_.append("dog")
        sel.append(name[i])
data_dict = {'breed_ID':res,"breed_type":type_,
             'breed_name': sel}
df = pd.DataFrame(data_dict)
df.head
df.to_csv('breeds.csv',index=False)

In [23]:
pet_finder = pd.read_csv("df_petfinder_dogslist_api_clean.csv")
print(pet_finder.columns)

Index(['dog_ID', 'dog_name', 'url_petfinder', 'dog_age', 'dog_gender',
       'dog_size', 'dog_coat', 'dog_description', 'published_at',
       'distance_miles_from_07090', 'breed_ID', 'breed', 'colors.primary',
       'attributes.spayed_neutered', 'attributes.house_trained',
       'attributes.special_needs', 'attributes.shots_current',
       'environment.children', 'environment.dogs', 'environment.cats',
       'contact.email', 'contact.phone', 'contact.address.address1',
       'contact.address.city', 'contact.address.state',
       'contact.address.postcode'],
      dtype='object')

In [26]:

pet_finder_sel=pet_finder[["dog_ID","dog_name","breed_ID","breed","dog_age",'colors.primary',"dog_coat",'environment.children', 'environment.dogs','attributes.house_trained', 'attributes.special_needs','distance_miles_from_07090','contact.address.city']]

print(pet_finder_sel.head)

<bound method NDFrame.head of        dog_ID                  dog_name  breed_ID                       breed  \
0    50796417                     Hogan       170                 Mixed Breed
1    49463289                      Kane       170                 Mixed Breed
2    50796241                  Wrinkles       170                 Mixed Breed
3    52045887                     Carly       246  Staffordshire Bull Terrier
4    51738308                     Cindy        90             English Bulldog
..        ...                       ...       ...                         ...
595  52665042                 XP Hailey        79                   Coonhound
596  51076716   Buddy BROWN TERRIER Gio       252                     Terrier
597  52096345        Maverick Louisiana       152          Labrador Retriever
598  52543467            Rambo Barnwell       152          Labrador Retriever
599  52008634  XP Admiral - Boonton, NJ       112         German Shepherd Dog

    dog_age        colors.primary dog_coat environment.children  \
0    Senior  Gray / Blue / Silver    Short                  NaN
1     Adult  Gray / Blue / Silver    Short                  NaN
2     Adult  Gray / Blue / Silver    Short                 True
3      Baby                 Black    Short                 True
4    Senior                Golden    Short                 True
..      ...                   ...      ...                  ...
595    Baby                   NaN      NaN                  NaN
596   Adult                   NaN      NaN                 True
597    Baby                   NaN      NaN                 True
598   Young                   NaN      NaN                  NaN
599  Senior                   NaN      NaN                  NaN

    environment.dogs  attributes.house_trained  attributes.special_needs  \
0               True                      True                     False
1                NaN                      True                     False
2               True                      True                     False
3               True                     False                     False
4              False                      True                      True
..               ...                       ...                       ...
595              NaN                     False                     False
596             True                      True                     False
597             True                     False                     False
598             True                      True                     False
599              NaN                      True                     False

     distance_miles_from_07090 contact.address.city
0                       1.0243              Garwood
1                       1.0243              Garwood
2                       1.0243              Garwood
3                       2.1022             Cranford
4                       2.1022             Cranford
..                         ...                  ...
595                    19.6733             Rockaway
596                    19.6733             Rockaway
597                    19.6733             Rockaway
598                    19.6733             Rockaway
599                    19.6733             Rockaway

[600 rows x 13 columns]>